/* Google Fonts'tan Poppins yazı tipini içe aktarıyoruz.  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS'in temel stillerini ve bileşenlerini içe aktarıyoruz. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kullanıcı tanımlı stil katmanını tanımlıyoruz.  */
@layer utilities {
    /* İnce kaydırıcı çubuğu için özel bir stil tanımlıyoruz. */
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    /* Kaydırıcı çubuğunun parmağı (thumb) için özel bir stil tanımlıyoruz. */
    .scrollbar-thumb {
        scrollbar-color: #581c87 transparent;
    }
    /* WebKit tarayıcıları (Chrome, Safari) için kaydırıcı çubuğu stillerini tanımlıyoruz. */
    .scrollbar-thumb::-webkit-scrollbar {
        width: 15px; /* Kaydırıcı çubuğunun genişliği */
    }
    .scrollbar-thumb::-webkit-scrollbar-thumb {
        background-color: #581c87; /* Kaydırıcı parmağının arka plan rengi */
        border-radius: 1px; /* Kaydırıcı parmağının köşe yuvarlama ayarı */
    }
    .scrollbar-thumb::-webkit-scrollbar-track {
        background-color: transparent; /* Kaydırıcı çubuğunun arka plan rengi (iz) */
    }
}
